.root{
  flex-grow: 1;
}
.paper{
  padding: 8px;
  margin: 'auto';
  max-width: 500;
}
.image{
  width: 128;
  height: 128;
}
.img{
  margin: 'auto';
  display: 'block';
  max-width: '100%';
  max-height: '100%';
}

@media only screen and (min-width: 768px) {
  .container-fit{
    min-width:360px;
    min-height:200px;
  }
}

.root-fit{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
}
