.weather-panel{
  display:flex;
  flex-direction: column;
  align-items: center;
  animation:fadein .4s linear 0s 1 normal forwards;
}
.weather-search-button{
  font-size:2em;
  cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.weather-location{
  font-size:1.3em;
}

.root{
  flex-grow: 1,
}
.paper{
  padding: 8px;
  text-align: 'center';
  color: rgba(0, 0, 0, 0.87);
}

.formControl{
  margin: 8px;
  min-width: 120;
  margin-top:16px;
  margin-bottom:16px;
}
.selectEmpty{
  margin-top: 16px;
}

.theme{
  color:white!important;
}

.theme > select > option{
  color:black!important;
}