.search-container{
  animation:fadein .4s linear 0s 1 normal forwards;
  height: 100px;
}
.search-form{
  display:flex;
  border-radius: 10px;
  height:50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-bar{
  font-size: 1.5em;
  box-sizing:border-box;
  padding:10px;
  outline:none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border:none;
}
.search-button{
  height:100%;
  width:50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline:none;
  border:none;
  cursor:pointer;
  background-color: lightgray;
}
#search-error{
  color:red;
  animation:fadein .4s linear 0s 1 normal forwards;
}
#search-spinner{
  width:100%;
  margin-top: 15px;
  animation: spin 1s ease-in-out 0s infinite alternate;
  text-align: center;
  font-size: 3em;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes fadeinout {
  0%{
    opacity:0;
    transform:translateY(20px);
  }
  5%{
    opacity:1;
    transform:translateY(0px);
  }
  95%{
    opacity:1;
    transform:translateY(0px);
  }
  100%{
    opacity:0;
    transform:translateY(20px);
  }
}

@media only screen and (max-width: 768px) {
  .search-bar{
    width:200px;
  }
}
