.main {
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:black;
  overflow: hidden;
  color:white;
  background-color: black;
}

.app{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-between;

}
.app-header{
  text-align:center;
}

.transitioning{
  animation:fadeout .4s linear 0s 1 normal forwards;
}
@keyframes fadein{
  0%{
    opacity:0;
    transform:translateY(-20px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}
@keyframes fadeout{
  0%{
    opacity:1;
    transform:translateY(0px);
  }
  100%{
    opacity:0;
    transform:translateY(-20px);
  }
}
